.background_color{
    background-color:black;
}
.height{
     height: 38px;
}
.width-595px{
    width: 595px;
}
.list-style_none{
    list-style: none;
}
 .color{
     color: white;
 }
 .justify-content_space-between{
     justify-content: space-between;
 }
 .display_flex{
     display: flex;
 }
.flex_direction{
    flex-direction: row;
}
.color-ccc{
color: #ccc;
}
.margin-0{
    margin: 0;
} 
.flex-content_flex-end{
    justify-content: flex-end;
}
.margin-left_20px{
    margin-left: 20px;
}
.width_12px{
    width: 12px;
}

.height-auto{
    height: auto;
}
.fill_white{
    fill: white;
}

.height-37px{
    height: 37px;
}

.background-color_roxo{
    background-color: #843ab8;
}

.height-58px{
height: 58px;
}

.background_transparent{
        background-color: transparent;
}

.border_none{
    border: none;
}

.padding_0{
    padding: 0;
}
.flex-grow_1{
    flex: grow 1;;
}
.padding-left_16px{
    padding-left: 16px;
}
.padding-right_16px{
    padding-right: 16px;
}
.font-size_24px{
    font-size: 24px;
}

.border_none-outline:focus{
    outline: none;
}
 .color-fff{
     color: #fff;
 }
 .padding-top_10px{
    padding-top: 10px;
 }

 .height_40px{
     height: 40px; ;
 }
 .padding-bottom_10px {
     padding-bottom: 10px;
 }
 .background-color_verde{
     background-color: #178b49;
 }
 .border-radius_4px{
     border-radius: 4px;
 }
 .width_186px{
     width: 186px;
 }
 .color_white{
     color: white;
 }
 .border_color{
    border-color: #0c4927;
 }
 .padding-right_22px{
    padding-right: 22px;
 }
 
 .padding-left_22px{
    padding-left: 22px;
 }
 .margin_top-4px{
     margin-top: 4px;
 }
 .margin-left_42px{
     margin-left: 42px;
 }
.text_decoration-none{
    text-decoration: none;
}

.padding-left_10px{
    padding-left: 10px;
}
.padding-right_10px{
    padding-right: 10px;
}
.height_49px{
    height: 49px;
} 
.width_500px{
width: 500px;
}
.font-size_16px{
    font-size: 16px;
}
.margin-top_16px{
margin-top: 16px;
}
.margin-left_40px{
    margin-left: 40px;
} .magin-right_16px{
    margin-right: 16px;
}
.position-absolute{
    position: absolute;

}
.left_369px{
    left: 369px;
}
 .top_630px{
     top: 630px;
 }
 .margin_7px{
     margin-top: 7px;
 }




























